In [ ]:
1 + 2

# 1
## 2
### 3
#### 4

우측상단의 code를 markdown으로 변경.

# edit mode 실행

1.shift enter
2.ctrl enter
3.alt enter

단축키확인 -> command)h

In [ ]:
edit)shift+tab -> tooltip

In [ ]:
!pip install jupyterthemes

```term
(base) randpython/8weeks [ jt -l             master * ] 8:32 PM
Available Themes:
   chesterish
   grade3
   gruvboxd
   gruvboxl
   monokai
   oceans16
   onedork
   solarizedd
   solarizedl
(base) randpython/8weeks [ jt -t             master * ] 8:32 PM
usage: jt [-h] [-l] [-t THEME] [-f MONOFONT] [-fs MONOSIZE]
          [-nf NBFONT] [-nfs NBFONTSIZE] [-tf TCFONT]
          [-tfs TCFONTSIZE] [-dfs DFFONTSIZE]
          [-ofs OUTFONTSIZE] [-mathfs MATHFONTSIZE]
          [-m MARGINS] [-cursw CURSORWIDTH]
          [-cursc CURSORCOLOR] [-cellw CELLWIDTH]
          [-lineh LINEHEIGHT] [-altp] [-altmd] [-altout] [-P]
          [-T] [-N] [-kl] [-vim] [-r] [-dfonts]
jt: error: argument -t/--theme: expected one argument
(base) randpython/8weeks [ jt -t onedork -T
```

-T를 넣어줘야 툴바가 보임.

!를 붙이고 pip install을 하는 이유는 pip install을 터미널에서 하는 것처럼 해달라는 의미  
[shell command로 실행](https://jakevdp.github.io/blog/2017/12/05/installing-python-packages-from-jupyter/)

# data type

## 숫자

1. 정수형, 실수형
2. 산술연산자
    - 사칙연산
    - 제곱
    - 나머지, 몫
3. 할당연산자

In [ ]:
a = 1
print(a)

b = 2
b

In [ ]:
a + b

In [ ]:
a - b

In [ ]:
a * b

In [ ]:
a / b

In [ ]:
a % b

In [ ]:
a = 3
b = 4
a ** b

## 문자열

2. 여러 줄 문자열
3. 문자열 연산
4. 문자열 인덱싱, 슬라이싱
5. 문자열 포매팅
6.

### 문자열 만들기 4가지

In [ ]:
"hello"

In [ ]:
'hello'

In [ ]:
'''hello'''

In [ ]:
"""hello"""

In [ ]:
"""'hi im kang'"""

In [ ]:
'''"i'm a student", he says'''

In [ ]:
print('''"i'm a student", he says''')

### 이스케이프 시퀀스

In [ ]:
print("""\"i\'m a student\", he says""")

In [ ]:
print("""\"i\'m a student\".\n he says""")

In [ ]:
print("""\"i\'m a student\".\t he says""")

In [ ]:
print("""\"i\'m a student\".\\ he says""")

### 문자열 연산

In [ ]:
a = "apple"
b = "banana"

a + b

In [ ]:
a = "apple"
b = 3
a * b

print("=" * 50)
print("result")
print("=" * 50)

In [ ]:
"+" * 50
"result"

In [ ]:
a = "life is too short"

len(a)
#함수 코드블럭 + shift-tab

### 문자열 인덱싱

In [ ]:
print(a[0])
print(a[3])
print(a[5])
print(a[-1])
print(a[-2])
print(a[16])

b = "life"
print(b[-1])
print(b[1])

### 문자열 슬라이싱

In [ ]:
#0이사 4미만
a[0:4]

In [ ]:
a[5:7]

In [ ]:
a[5:17]

In [ ]:
a[5:]

In [ ]:
a[:5]

In [ ]:
a[:]

In [ ]:
a[:-1]

In [ ]:
a[-1:]

In [ ]:
a[-5:-1]

In [ ]:
a[-5:]

In [ ]:
data = "20220421Sunny"
year = data[0:4]
month = data[4:6]
day = data[6:8]
weather = data[8:]
print(year, month, day, weather)

### 문자열 포매팅

In [ ]:
#대입
"I eat %d apples." % 3

In [ ]:
"I eat %s apples." % "three"

In [ ]:
print("I eat %s apples" % "three")

In [ ]:
num = 3
print("I eat %d apples." % num)

In [ ]:
num = 10
day = "three"
print("I ate %d apples. so i was sick for %s days" %(num, day))

In [ ]:
accuracy_rate = 90
print("Error is %d%%" % accuracy_rate)

In [ ]:
# 포매팅
"%10s포매팅" % "hi"

In [ ]:
"%-10s포매팅" % "hi"

In [ ]:
"%10f" % 3.42

In [ ]:
"%-10f" % 3.42

In [ ]:
"%.4f" % 3.42

In [ ]:
"I eat {0} apples".format(3)

In [ ]:
"I eat {0} apples".format("three")

In [ ]:
num = 3
"I eat {} apples".format(num)

In [ ]:
num = 3
num2 = 4
"I eat {} apples and {} pears".format(num, num2)

In [ ]:
# 중괄호 안의 변수명을 .format의 변수병과 일치시킴
# 달라도 상관은 없지만 같아야 인식하기 쉬움
"I eat {num2} apples and {num2} pears".format(num = 3, num2 = 2)

In [ ]:
a = "apple"

In [ ]:
# 문자열에서 해당하는 값 개수
a.count("p")

In [ ]:
# 문자열 위치 찾기
a.find("a")

In [ ]:
a.index("a")

In [ ]:
# 차이
print(a.find("q"))
print(a.index("q"))

In [ ]:
# 문자열 수정

print(".".join("abcd"))
print(" ".join("abcd"))
print("hi".upper())
print("HI".lower())

In [ ]:
a = " hi "
print("\"", a, "\"")
print("\"", a.lstrip(" "), "\"")
print("\"", a.rstrip(" "), "\"")
print("\"", a.strip(" "), "\"")

In [ ]:
a = "a is apple. c is banana"
print(a.replace("c", "b"))
print(a) #재할당해줘야함

a = a.replace("c is", "b is")
print(a)

In [ ]:
#문자열 스플릿
#리스트로 반환함.
print(a)
print(a.split('.'))

## 리스트

### 리스트 만들고 사용하기

In [ ]:
a = []
b = [1,2,3]
c = ['1','b','c',4]
d = [[1,2,], [3,4]]

print(a)
print(b)
print(c)
print(d)

### 리스트 인덱싱과 슬라이싱

In [ ]:
print(b[1])
print(d[1])
b[0]

In [ ]:
b[-1]

In [ ]:
d[0][1]

In [ ]:
d[1][0]

In [ ]:
a = [1,2,3,4,5]

a[0:3]

In [ ]:
a[:3]

In [ ]:
a[2:4]

In [ ]:
a[3:]

In [ ]:
a = [1,2,3,['a','b','c'],4,5]
a[2:5]

### 리스트연산하기

In [ ]:
a = [1,2,3]
b = [4,5,6]
a + b

In [ ]:
a * 3

In [ ]:
len(a)

### 리스트의 수정과 삭제

In [ ]:
a[2] = 4

In [ ]:
a

In [ ]:
str1 = "asdf"
str1[0] = 'c'

### 리스트 관련 함수

In [ ]:
a = [1,2,3]
a.append(4)

print(a)

In [ ]:
a.append(5,6)

In [ ]:
a.append(5)
a.append(6)

a.append([7,8])
a

In [ ]:
a = [1,4,3,2]
a.sort()
a

In [ ]:
a.reverse()
a

In [ ]:
a.sort()
a.sort(reverse=True)
a

In [ ]:
a = [1,2,3]
a.index(3)

In [ ]:
a.index(4)

In [ ]:
a.find(4)

In [ ]:
a = [1,2,4]

a.insert(2,3)
a

In [ ]:
a = [1,2,3,1,2,3]
a.remove(3)

In [ ]:
a

In [ ]:
a = [1,2,3]
a.pop()

In [ ]:
a = [1,2,3,1]

a.count(1)

In [ ]:
#리스트 확장
a = [1,2,3]
a.extend([4])

In [ ]:
a

## 튜플

### 튜플 vs 리스트

In [ ]:
t1 = ()
t2 = (1)
t3 = (1,2,3)
t4 = ('a','b',('ab','cd'))
print(t1)
print(t2)
print(t3)
print(t4)

### 튜플다루기

In [ ]:
t3[2]

In [ ]:
#값 못바꿈
t3[2] = 4

In [ ]:
t3[:2]

In [ ]:
a = (1,2,3)
b = (4,5,6)
a * 3

In [ ]:
a + b

In [ ]:
len(a)

In [ ]:
a = (1,2,3)
b = 1,2,3
# 튜플은 괄호안써도 인식됨
print(a)
print(b)

## 딕셔너리

### 딕셔너리란

In [ ]:
dic = {'name' : 'aaa', 'mobile' : '010-2410-3123', 'birth' : '200428'}

In [ ]:
dic

In [ ]:
a = {1 : 3}

In [ ]:
a = {1: [1,2,3]}

In [ ]:
a = {[1,2,3] : 1}

In [ ]:
#키:값 쌍에서 키는 숫자혹은 문자여야함

### 만들기

### 쌍 추가/삭제

In [ ]:
dic['email'] = 'asdf'

In [ ]:
dic

In [ ]:
#대괄호로 접근한 키에 값을 할당하면 추가된다.
dic['name':1234]

In [ ]:
dic['name']

In [ ]:
dic['name'] = 'ppp'

In [ ]:
dic.

### 관련함수

In [ ]:
dic.keys()
#순서가 없음

In [ ]:
type(dic)

In [ ]:
type(dic['name'])

In [ ]:
a = dic.keys()

In [ ]:
#dic.keys()는 dict_keys라는 새로운객체를 반환함
type(a)
#슬라이싱등이 불가능함

In [ ]:
#리스트로 바꾸기
a = list(a)

In [ ]:
print(a)
type(a)

In [ ]:
a = list(dic.keys())

In [ ]:
a

In [ ]:
dic.values()

In [ ]:
a = list(dic.values())
print(a)

In [ ]:
dic.items()

In [ ]:
a = list(dic.items())

In [ ]:
a[0]

In [ ]:
a[0][0]

In [ ]:
dic['name']
dic.get('name')
dic.get('non')
#dic[non]
#get은 아무것도 리턴하지 않음.
#그래서 디폴트값을 설정해주곤함
dic.get('non', 'default')

In [ ]:
#값이 있는지확인
l1 = [1,2,3,4]
t1 = (1,2,3,4)

print(1 in l1)
print(0 in t1)
print('name' in dic)
print('noa' in dic)

## 집합

### 만들기

In [ ]:
s1 = set([1,2,3])
print(s1)

s2 = set('Hello')
print(s2)

#집합은 순서가 없고 중복이 제거됨
print(s2[0])

### 중복제거

In [ ]:
#중복제거방법
a = [1,2,3,4,5,6,7,8]
a = list(set(a))
print(a)

In [ ]:
a = 'asdfasdfasdf'
a = ''.join((set(a)))
print(a)

### 집합연산

In [ ]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 교집합구하기
print(s1.intersection(s2))
print(s1 & s2)

# 합집합
print(s1.union(s2))
print(s1 | s2)

# 차집합
print(s1 - s2)
print(s1.difference(s2))
print(s2 - s1)

In [ ]:
# 값 추가
s1.add(7)
print(s1)

# 여러개 추가
s1.update([8,9])
print(s1)

In [ ]:
# 값 삭제
s1.remove(2)
print(s1)

## 불 자료형

### 정의

In [ ]:
#참과 거짓으로만 판단된다
a = True
b = False
print(a, b)

In [ ]:
print(type(a))
print(type(b))

### 자료형의 참과 거짓

In [ ]:
type(1 == 1)

In [ ]:
type(2 > 1)

In [ ]:
type(2 < 1)

### 불연산

In [ ]:
print('aaa' == 'aaa')
type('aaa' == 'bbb')

In [ ]:
print(bool('a'))
print(bool(''))
print(bool([1,2]))
print(bool([]))

In [ ]:
print(bool(0))
print(bool(None))
print(bool(1))

## 깊은복사, 얕은복사

In [ ]:
a = [1,2,3]
a_new = a
a[0] = 0
print(a)
print(a_new)

In [ ]:
a = [1,2,3]
a_new = a[:]
a[0] = 0
print(a)
print(a_new)

In [ ]:
import copy
a = [1,2,3]
a_new = copy.deepcopy(a)
a[0] = 0
print(a)
print(a_new)

## 변수생성

In [ ]:
a = 'a'
b = 'b'
a, b = 'a', 'b'
print(a, b)

In [ ]:
[a,b] = ['a','b']
print(a)
print(b)

In [ ]:
a = b = 'a'
print(a)
print(b)

In [ ]:
a = 3
b = 5
a, b = b, a
print(a, b)

# 조건문, 논리식 등등

## if문

In [ ]:
member = input('회원인가요?(y/n)')
if member == 'y':
    print('어서오세용')
else:
    print('뉘세요')

In [ ]:
age = int(input('나이 입력: '))
price = 20000

if 1 <= age < 6:
    print('입장료 무료')
elif 6 <= age < 60:
    print('입장료는 ', price, '입니다.')
elif age >= 60:
    print('입장료는 ', price * 0.5, '입니다.')
else:
    print('1살 이상의 나이 입력해주세요')

### 중첩조건문

In [ ]:
id1 = input('아이디: ')
pwd2 = input('비밀번호: ')
if id1 == 'admin':
    if pwd2 == '1234':
        print('로그인성공')
    else:
        print('비밀번호 오류')
else:
    print('아이디오류')

## 반복문

### range

In [ ]:
for i in range(5):
    print('+' * (i + 1))

In [ ]:
odd = [1,3,5,7,9]
for i in odd:
    print(i + 1, end= ' ')

In [ ]:
for i in range(1,31):
    if i % 7 == 0:
        print('7의배수: ', i)

In [ ]:
while (True):
    num = int(input('구구단입력 0 종료:'))
    if num == 0:
        break
    i = 1
    while i <= 9:
        print('%d x %d = %d' % (num, i, num * i))
        i += 1

In [ ]:
alpha = {'A' : '1!', 'B' : '2@', 'C' : '3#', 'D' : '4$', 'E':'5%' }
while True:
    code = ''
    word = input('input')
    if word == '0':
        break
    for ch in word:
        code += alpha[ch]
    print('단어:', word, '암호코드', code, '\n')
print('임호코드 변한프로그램')

# 함수

## 내장함수

In [2]:
type(1)

int

In [3]:
type("test")

str

In [24]:
print(int("1"))
#print(int('asdf'))
print(int(3.2))
print(int(-3.3))

print(float(1))
print(float('1'))
print(float(3.3))

print(str(32))
print(float(3.3))

1
3
-3
1.0
1.0
3.3
32
3.3

In [25]:
print(max("hello world"))
print(min("hello world"))
print(len("Hello world"))

w

11

In [26]:
import math

In [30]:
r = 45
radians = r * r * math.pi
print(radians)

6361.725123519331

In [31]:
import random

In [38]:
for i in range(10):
    x = random.random()
    print(x)

0.9782409603578234
0.674006513357297
0.921258927168555
0.2494825194175846
0.9110895641210602
0.7926913003302075
0.7740780297530958
0.20797561568001743
0.6166150130643638
0.147255098585113

In [51]:
x = random.randint(5,10)
print(x)

6

In [65]:
t = [1,2,3,4]
print(random.choice(t))

3

## 사용자정의함수

def 함수이름(arg1, arg2):
    statement1
    ...
    return 결과값

In [67]:
def print_lyrics():
    print('I am okay.')
    print('I sleep all night')
print_lyrics()

I am okay.
I sleep all night

In [69]:
def cylinder_volume(height, radius = 5): #디폴트값 radius 5
    return radius ** 2 * height * math.pi

In [73]:
print(cylinder_volume(10, 5))
print(cylinder_volume(10))

785.3981633974482
785.3981633974482

In [76]:
def max1(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2

a = int(input('1st: '))
b = int(input('2nd: '))
print('큰수 : %d' % (max1(a,b)))

1st: 4
2nd: 7
큰수 : 7

In [81]:
def game(num):
    a = num//10
    b = num % 10
    if a == 3 or a == 6 or a == 9:
        return 'crap'
    elif b == 3 or b == 6 or b == 9:
        return 'crap'
    else:
        return 'next number'

for i in range(30):
    print('%d 번째, %s' % (i, game(i)))

0 번째, next number
1 번째, next number
2 번째, next number
3 번째, crap
4 번째, next number
5 번째, next number
6 번째, crap
7 번째, next number
8 번째, next number
9 번째, crap
10 번째, next number
11 번째, next number
12 번째, next number
13 번째, crap
14 번째, next number
15 번째, next number
16 번째, crap
17 번째, next number
18 번째, next number
19 번째, crap
20 번째, next number
21 번째, next number
22 번째, next number
23 번째, crap
24 번째, next number
25 번째, next number
26 번째, crap
27 번째, next number
28 번째, next number
29 번째, crap

## 람다함수

In [82]:
def plus_five(x):
    return x + 5

In [83]:
plus_five(10)

15

In [84]:
#간단한건 람다함수쓰래요
plus_five_lambda = lambda x: x + 5

In [86]:
plus_five_lambda(10)

15

In [92]:
raw_list = [10, 20, 30]
print(map(plus_five_lambda, raw_list))
print(list(map(plus_five, raw_list)))
print(list(map(plus_five_lambda, raw_list)))
print(list(map(lambda x: x + 5, raw_list))) #추천!

<map object at 0x7f985129e7c0>
[15, 25, 35]
[15, 25, 35]
[15, 25, 35]

# 리스트내포

## 조건없음

[표현식 for 변수 in 항목들]

In [102]:
list1 = [-20, -10, 0, 10, 20]
result = []
for i in list1:
    result.append(i)
print(result)

[-20, -10, 0, 10, 20]

In [101]:
[i for i in result]

[-20, -10, 0, 10, 20]

In [104]:
list1 = [-20, -10, 0, 10, 20]
result = []
for i in list1:
    result.append(i / 5)
print(result)

[-4.0, -2.0, 0.0, 2.0, 4.0]

In [106]:
[i / 5 for i in list1]

[-4.0, -2.0, 0.0, 2.0, 4.0]

In [107]:
[i ** 2 for i in list1]

[400, 100, 0, 100, 400]

## 조건 있음

[표현식 for 변수 in 항복들 if 조건]

In [112]:
result = []
for i in list1:
    if i != 0:
        result.append(1/ i)
print(result)

[-0.05, -0.1, 0.1, 0.05]

In [111]:
[1 / i for i in list1 if i != 0]

[-0.05, -0.1, 0.1, 0.05]

In [113]:
[num * 3 for num in range(3)]

[0, 3, 6]

In [114]:
[num * 3 for num in range(10) if num % 2 == 0]

[0, 6, 12, 18, 24]

In [125]:
# A = 65,.... Z = 96... a = 97 
alpha = [chr(n) for n in range(97, 97 + 26)]
print(alpha)

ALPHA = [chr(n) for n in range(65, 65 + 26)]
print(ALPHA)

Aalpha = [chr(n) for n in range(65, 65 + 52) if n not in range(91, 97)]
print(Aalpha)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't']

# 정규표현식

In [128]:
import re

In [133]:
re.match('Hello', 'Hello, world!')

In [134]:
re.match('Python', 'Hello, world!')

In [135]:
re.search('^Hello', 'Hello, world!')#일부분 매치 확인

In [138]:
re.search('^world', 'Hello, world!')

In [139]:
re.search('world!$', 'Hello, world!')

In [153]:
#특정문자열포함?
re.match('hello|world', 'Hello, world!')

In [154]:
re.match('[0-9]*', '123456')

In [156]:
re.match('[0-9]+', '123456789abcde')

In [158]:
re.match('[0-9]+', 'abcde')

In [159]:
re.match('a*b', 'b')

In [160]:
re.match('a+b', 'b')

In [161]:
re.match('a*b', 'aab')

In [162]:
re.match('a+b', 'aab')

In [163]:
re.match('abc?d', 'abd')

In [165]:
re.match('ab[0-9]?d', 'abd') #숫자 한개 or 0개 허용

In [166]:
re.match('ab[0-9]?d', 'ab0d')

In [167]:
re.match('ab[0-9]?d', 'ab01d')

In [169]:
re.match('ab.d', 'abd')#.은 와일드카드

In [170]:
re.match('ab.d', 'abcd')

In [171]:
re.match('h{3}', 'hhhello')

In [172]:
re.match('(hello){3}', 'hellohellohelloworld')

In [174]:
re.match('[0-9]{3}-?[0-9]{4}-?[0-9]{4}', '010-2419-0303')

In [175]:
re.match('[0-9]{3}-?[0-9]{4}-?[0-9]{4}', '010-24190303')

In [176]:
re.match('[0-9]{3}-?[0-9]{4}-?[0-9]{4}', '01024190303')

In [177]:
re.match('010-?[0-9]{4}-?[0-9]{4}', '010-24190303')

In [178]:
re.match('010-?[0-9]{4}-?[0-9]{4}', '017-24190303')

In [179]:
re.match('[a-zA-Z]+', '1234')

In [180]:
re.match('[a-zA-Z]+', '123a4')

In [181]:
re.match('[a-zA-Z]+', 'a1234')

In [182]:
re.match('[A-Z]+', 'A1234')

In [184]:
re.match('[가-힣]+', '웅1234')

In [185]:
re.match('[가-힣]+', '가abc')

In [186]:
#대괄호 안의 ^는 이 문자패턴을 제외한 것들을 의미
re.match('[^A-Z]+', 'hello')

In [187]:
re.match('[^A-Z]+', 'Hello')

In [188]:
re.search('[0-9]+$', 'asdfa')

In [189]:
re.search('[0-9]+$', 'asdfa1')

In [190]:
#특수문자

re.search('\*', ' ** 2')

In [191]:
re.search('\d', ' ** 2')

In [193]:
re.search('\%', ' ** 2%')

In [194]:
re.match('[$()]+', '$document') #하나라도 있는지 확인

In [195]:
re.match('[$()]+', '(document)') #하나라도 있는지 확인

In [196]:
re.match('\d+', '123421341') #[0-9]

In [197]:
re.match('\d+', '123421abc')

In [198]:
re.match('\D+', '123421abc')#[^0-9]

In [199]:
re.match('\D+', 'abc')

In [201]:
print(re.search('\W+', "asdfasdf"))
print(re.search('\W+', "asdfasd#f"))

None
<re.Match object; span=(7, 8), match='#'>

In [204]:
print(re.match('[a-zA-Z0-9 ]+', "asdfasdfas 234"))
print(re.search('[a-zA-Z0-9 ]+', "asdfasdfas 234"))

<re.Match object; span=(0, 14), match='asdfasdfas 234'>
<re.Match object; span=(0, 14), match='asdfasdfas 234'>

In [207]:
#표현식을 할때마다하는게 귀찮으니 객체화
p = re.compile('[0-9]+')
print(p.match('1324'))
print(p.match('abc'))

<re.Match object; span=(0, 4), match='1324'>
None

In [210]:
text = 'Hello world'
print(re.match('^[A-Za-z]{2}', text).group()) #찾은 값 반환
x = re.match('^[A-Za-z]{2}', text)
print(x.group())

He
He

In [215]:
text = 'Hello World'
re.search('[A-Za-z]{2,}', text)

In [214]:
re.findall('[A-Za-z]{2,}', text) #모두 찾고 싶을때는 findall

['Hello', 'World']

# numpy

## 개념 및 특징

넘파이는 C로 작성된 고성능 수치계산 위한 라이브러리  
판다스나, 맷플롯립을 기반으로 넘파이를 사용.  
넘파이는 기본으로 array를 기반으로 사용함.  
파이썬의 리스트 자료형과 비슷하지만, C를 기반으로 했기 때문에 더 빠르고 메모리를 효율적으로 관리한다.  
복잡한 선형대수 연산, 쿼리기능도 가능.

In [1]:
import numpy as np

## 배열

- 2차원 배열 : 
    - axis 0 : x축
    - axis 1 : y축
- 3차원 배열 : 
    - axis 0 : 높이
    - axis 1 : x축
    - axis 2 : y축

In [6]:
arr = np.array([1,2,3,4,5])
arr

array([1, 2, 3, 4, 5])

In [7]:
print(arr)

[1 2 3 4 5]

In [8]:
type(arr)

numpy.ndarray

In [12]:
arr2d = np.array([[1,2,3],[4,5,6]])
print(arr2d)

[[1 2 3]
 [4 5 6]]

In [18]:
arr3d = np.array([[[1,2,3],[4,5,6],[7,8,9]],
                [[10,11,12],[13,14,15],[16,17,18]],
                 [[19,20,21], [22,23,24], [25,26,27]]])
print(arr3d)

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

## 배열생성 함수들

In [23]:
a = np.zeros(10)
print(a)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [24]:
b = np.zeros((3,3))
print(b)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [26]:
c = np.ones(10)
print(c)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [27]:
d = np.ones((5,5))
print(d)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [32]:
a = np.full((3,3), 1.5)
print(a)

[[1.5 1.5 1.5]
 [1.5 1.5 1.5]
 [1.5 1.5 1.5]]

In [33]:
a = np.eye(10)
print(a)

[[1. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]]

In [37]:
a = range(0,10)
print(a)
a = np.arange(0, 10)
print(a)

range(0, 10)
[0 1 2 3 4 5 6 7 8 9]

In [39]:
a = np.linspace(0, 10, 5)
print(a)

[ 0.   2.5  5.   7.5 10. ]

In [40]:
a = np.logspace(np.log10(10), np.log10(100), 5)
print(a)

[ 10.          17.7827941   31.6227766   56.23413252 100.        ]

In [42]:
a = np.random.random()
print(a)

0.3992502819647209

In [44]:
a = np.random.random((4,4))
print(a)

[[0.76288199 0.6386934  0.63861942 0.26332342]
 [0.42235101 0.39235571 0.9889186  0.09567684]
 [0.51909802 0.17064341 0.76492333 0.2085852 ]
 [0.47754091 0.36947611 0.79534597 0.63376866]]

In [77]:
a = np.random.randint(1,10)
print(a)

2

In [79]:
a = np.random.randint(1, 10, (4,4))
print(a)

[[6 5 2 8]
 [6 5 4 5]
 [5 9 4 9]
 [7 6 8 4]]

In [80]:
a = np.random.rand(3,3)
print(a)

[[0.27352599 0.38237876 0.722775  ]
 [0.06922183 0.8851948  0.60826194]
 [0.93823229 0.2120695  0.20992423]]

In [81]:
a = np.random.randn(3,3)
print(a)

[[ 0.43965091 -0.68812715  0.33893592]
 [-0.73202598  0.22087937  0.88085293]
 [-1.43236441  0.41208766 -0.52827696]]

## 넘파이 배열 조회

np.int32/64 => 정수타입  
np.float32/64 => 부동소수  
np.bool => 불린  
np.object => 파이썬객체  
np.complex =>복소수

In [83]:
arr = np.arange(1,6)
print(arr)
print(arr.ndim)

[1 2 3 4 5]
1

In [84]:
print(arr.shape)
print(arr.size)
print(arr.dtype)
print(arr.itemsize)
print(arr.nbytes)

(5,)
5
int64
8
40

## 인덱싱

In [86]:
al = np.arange(10)
print(al)

print(al[0])
print(al[-1])
al[0] = 10
print(al)

[0 1 2 3 4 5 6 7 8 9]
0
9
[10  1  2  3  4  5  6  7  8  9]

In [87]:
a2 = np.arange(9).reshape((3,3))
print(a2)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [90]:
print(a2[1,0])

3
3

In [92]:
a2[1,0] = 10
print(a2[1,0])

10

In [93]:
al = np.arange(6)
print(al)

[0 1 2 3 4 5]

In [95]:
al[:3]

array([0, 1, 2])

In [96]:
al[2:]

array([2, 3, 4, 5])

In [98]:
al[::-1] #뒤집어서 -1씩

array([5, 4, 3, 2, 1, 0])

In [99]:
al[::2] #스텝으로

array([0, 2, 4])

In [101]:
al[::-2] #역스텝

array([5, 3, 1])

In [102]:
a2 = np.arange(1,25).reshape((4,6))

In [103]:
print(a2)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]
 [13 14 15 16 17 18]
 [19 20 21 22 23 24]]

In [104]:
print(a2[1])

[ 7  8  9 10 11 12]

In [105]:
a2[1:3, 1:5]
#1,2번째 행의 1,2,3,4열 가져오기

array([[ 8,  9, 10, 11],
       [14, 15, 16, 17]])

In [111]:
print(a2[2,:])
print(a2[1,:])
print(a2[:3, :3])

[13 14 15 16 17 18]
[ 7  8  9 10 11 12]
[[ 1  2  3]
 [ 7  8  9]
 [13 14 15]]
[[18 17 16 15 14 13]
 [24 23 22 21 20 19]]

In [112]:
print(a2[2:, ::-1])
print(a2[::-1,::-1])

[[18 17 16 15 14 13]
 [24 23 22 21 20 19]]
[[24 23 22 21 20 19]
 [18 17 16 15 14 13]
 [12 11 10  9  8  7]
 [ 6  5  4  3  2  1]]

## 논리인덱싱

In [114]:
a = np.arange(1,6)
print(a)
b = [True, False,False,True, False]
print(a[b])

[1 2 3 4 5]
[1 4]

In [115]:
a = np.arange(11)
print(a[a < 5])

[0 1 2 3 4]

In [117]:
five_up = a[a < 5]
print(five_up)

[0 1 2 3 4]

In [119]:
div_by_2 = a[a % 2 == 0]
print(div_by_2)

[ 0  2  4  6  8 10]

In [122]:
c = a[(a > 5) & (a < 11)]
print(c)
d = a[(a > 9) | (a < 5)]
print(d)
e = a[~(a % 3 == 0)]
print(e)

[ 6  7  8  9 10]
[ 0  1  2  3  4 10]
[ 1  2  4  5  7  8 10]

## 배열 연산

In [126]:
a = np.arange(1, 11)
b = np.arange(1, 11)
print(a)
print(b)
print(a + b)
print(a - b)
print(a/ b)
print(a * b)

[ 1  2  3  4  5  6  7  8  9 10]
[ 1  2  3  4  5  6  7  8  9 10]
[ 2  4  6  8 10 12 14 16 18 20]
[0 0 0 0 0 0 0 0 0 0]
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[  1   4   9  16  25  36  49  64  81 100]

In [128]:
print(np.add(a,b))
print(np.subtract(a,b))
print(np.divide(a,b))
print(np.multiply(a,b))

[ 2  4  6  8 10 12 14 16 18 20]
[0 0 0 0 0 0 0 0 0 0]
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[  1   4   9  16  25  36  49  64  81 100]

In [129]:
print(np.exp(a))
print(np.sqrt(a))

[2.71828183e+00 7.38905610e+00 2.00855369e+01 5.45981500e+01
 1.48413159e+02 4.03428793e+02 1.09663316e+03 2.98095799e+03
 8.10308393e+03 2.20264658e+04]
[1.         1.41421356 1.73205081 2.         2.23606798 2.44948974
 2.64575131 2.82842712 3.         3.16227766]

In [132]:
print(np.sin(a))
print(np.tan(a))
print(np.cos(a))
print(np.log(a))

[ 0.84147098  0.90929743  0.14112001 -0.7568025  -0.95892427 -0.2794155
  0.6569866   0.98935825  0.41211849 -0.54402111]
[ 1.55740772 -2.18503986 -0.14254654  1.15782128 -3.38051501 -0.29100619
  0.87144798 -6.79971146 -0.45231566  0.64836083]
[ 0.54030231 -0.41614684 -0.9899925  -0.65364362  0.28366219  0.96017029
  0.75390225 -0.14550003 -0.91113026 -0.83907153]
[0.         0.69314718 1.09861229 1.38629436 1.60943791 1.79175947
 1.94591015 2.07944154 2.19722458 2.30258509]

In [133]:
a = np.arange(1,10).reshape(3,3)
print(a)
print(a.sum())

[[1 2 3]
 [4 5 6]
 [7 8 9]]
45

In [134]:
print(a.sum(axis = 0))

[12 15 18]

In [135]:
print(a.sum(axis = 1))

[ 6 15 24]

In [137]:
print(a)
print(a.max())
print(a.max(axis = 0))
print(a.max(axis = 1))

[[1 2 3]
 [4 5 6]
 [7 8 9]]
9
[7 8 9]
[3 6 9]

In [140]:
print(a)
print(a.mean())
print(a.mean(axis = 0))
print(a.mean(axis = 1))

[[1 2 3]
 [4 5 6]
 [7 8 9]]
5.0
[4. 5. 6.]
[2. 5. 8.]
5.0
[2. 5. 8.]

In [143]:
print(a)
print(np.median(a))

[[1 2 3]
 [4 5 6]
 [7 8 9]]
5.0

In [144]:
print(np.median(a, axis = 0))
print(np.median(a, axis = 1))

[4. 5. 6.]
[2. 5. 8.]

In [145]:
#표준편차
print(a.std())
print(np.std(a))

2.581988897471611
2.581988897471611

## 브로드캐스팅 연산

In [148]:
x = np.array([1,2,3,4,5])
y = np.array([1,1,1,1,1])
print(x + y)

[2 3 4 5 6]

In [147]:
y = 1
print(x + y)

[2 3 4 5 6]

In [150]:
a = np.arange(1,25).reshape(4,6)
print(a)
print(a + 100)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]
 [13 14 15 16 17 18]
 [19 20 21 22 23 24]]
[[101 102 103 104 105 106]
 [107 108 109 110 111 112]
 [113 114 115 116 117 118]
 [119 120 121 122 123 124]]

In [152]:
a + np.full_like(a, 100)

array([[101, 102, 103, 104, 105, 106],
       [107, 108, 109, 110, 111, 112],
       [113, 114, 115, 116, 117, 118],
       [119, 120, 121, 122, 123, 124]])

In [153]:
a = np.arange(5).reshape((1,5))
print(a)

[[0 1 2 3 4]]

In [155]:
b = np.arange(5).reshape((5,1))
print(b)

[[0]
 [1]
 [2]
 [3]
 [4]]

In [156]:
print(a + b)

[[0 1 2 3 4]
 [1 2 3 4 5]
 [2 3 4 5 6]
 [3 4 5 6 7]
 [4 5 6 7 8]]

In [158]:
import time

In [163]:
a = np.arange(100000000)
result = 0
s = time.time()

for v in a:
    result += v

e = time.time()
print(e - s)

22.849313020706177

In [164]:
a = np.arange(100000000)
result = 0
s = time.time()

result = np.sum(a)

e = time.time()
print(e - s)

0.2809009552001953

## 배열 변환

### 전치

대각선은 유지하고, 나머지를 대각선 방향으로 위치변환

In [166]:
a = np.random.randint(1, 10, (3,3))
print(a)
print(a.T)

[[5 4 9]
 [6 9 2]
 [5 4 6]]
[[5 6 5]
 [4 9 4]
 [9 2 6]]

In [167]:
a.ravel() #펼치기

array([5, 4, 9, 6, 9, 2, 5, 4, 6])

In [169]:
b = a.ravel()
print(b)
b[0] = 10
print(a) #원본도 반영된다.

[5 4 9 6 9 2 5 4 6]
[[10  4  9]
 [ 6  9  2]
 [ 5  4  6]]

In [175]:
x = np.arange(10).reshape((2,5))
print(a)
a[0,0] = 500
print(a) #원본도 바뀐다.

[[500   4   9]
 [  6   9   2]
 [  5   4   6]]
[[500   4   9]
 [  6   9   2]
 [  5   4   6]]

In [176]:
list_data = [1,2,3,4]
#파이썬 리스트는 reshape안되므로 바꿔줘야함
data = np.array(list_data).reshape((2,2))
print(data)

[[1 2]
 [3 4]]

In [182]:
#resize는 reshape과 동일한 결과 가져오게된다.
x = np.arange(20)
y = np.resize(x, (5,4))
print(y)

#단, 없으면 추가해준다.
y = np.resize(x, (5,6))
print(y)

#또 잘라줄수도 있다.
y = np.resize(x, (4,4))
print(y)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]]
[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19  0  1  2  3]
 [ 4  5  6  7  8  9]]
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

In [179]:
y = np.resize(x, (5,6))
print(y)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19  0  1  2  3]
 [ 4  5  6  7  8  9]]

In [180]:
#reshape는 자동추가가 안된다.
y = x.reshape(5,6)
print(y)

ValueError: cannot reshape array of size 20 into shape (5,6)

In [183]:
a = np.arange(3)
b = np.append(a, 3)
b

array([0, 1, 2, 3])

In [192]:
a = np.array([[1,2,3], [4,5,6]])
b = np.array([[7,8,9]])
print(a)
print(b)

[[1 2 3]
 [4 5 6]]
[[7 8 9]]

In [196]:
c = np.append(a, b)
print(c)

[1 2 3 4 5 6 7 8 9]

In [198]:
c = np.append(a,b,axis=0)
print(c)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [199]:
a = np.array([1,2,3])
b = np.insert(a, 1, 5)
print(b)

[1 5 2 3]

In [203]:
a = np.arange(10).reshape(2,5)
print(a)
b = np.insert(a, 1, 5)
print(a)
print(b)#flatten된다.

b = np.insert(a, 1, 5, axis=0) #행에 값을 추가해준다.
c = np.insert(a, 1, 5, axis=1)
print(b)
print(c)

[[0 1 2 3 4]
 [5 6 7 8 9]]
[[0 1 2 3 4]
 [5 6 7 8 9]]
[0 5 1 2 3 4 5 6 7 8 9]
[[0 1 2 3 4]
 [5 5 5 5 5]
 [5 6 7 8 9]]
[[0 5 1 2 3 4]
 [5 5 6 7 8 9]]

In [204]:
a = np.arange(12).reshape(3,4)
print(a)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [210]:
print(a)

print('')

print(np.delete(a, 5))
print('')
print(np.delete(a, 1, axis=0))
print('')
print(np.delete(a, 1, axis=1))

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

[ 0  1  2  3  4  6  7  8  9 10 11]

[[ 0  1  2  3]
 [ 8  9 10 11]]

[[ 0  2  3]
 [ 4  6  7]
 [ 8 10 11]]

### 결합

In [214]:
a = np.array([1,2,3])
b = np.array([4,5,6])
arr = np.concatenate((a,b ))
print(arr)

[1 2 3 4 5 6]

In [218]:
a = np.array([[1,2,3]])
b = np.array([[4,5,6]])
arr = np.concatenate((a,b))
print(arr)

[[1 2 3]
 [4 5 6]]

In [220]:
arr = np.concatenate((a,b), axis = 0) #디폴트로 axis가 0
print(arr)

arr = np.concatenate((a,b), axis = 1)
print(arr)

[[1 2 3]
 [4 5 6]]
[[1 2 3 4 5 6]]

In [222]:
a = np.array([1,2,3])
b = np.array([4,5,6])

np.vstack((a,b))

array([[1, 2, 3],
       [4, 5, 6]])

In [223]:
np.hstack((a,b))

array([1, 2, 3, 4, 5, 6])

### 분리

In [233]:
a = np.arange(16).reshape(4,4)
print(a)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

In [234]:
a_h = np.hsplit(a, 2)
print(a_h)

[array([[ 0,  1],
       [ 4,  5],
       [ 8,  9],
       [12, 13]]), array([[ 2,  3],
       [ 6,  7],
       [10, 11],
       [14, 15]])]

In [235]:
a_v = np.vsplit(a, 2)
print(a_v)

[array([[0, 1, 2, 3],
       [4, 5, 6, 7]]), array([[ 8,  9, 10, 11],
       [12, 13, 14, 15]])]

# pandas

## 판다스 기본

In [237]:
import pandas as pd

In [238]:
score = pd.Series([95, 100, 90, 60])
score

0     95
1    100
2     90
3     60
dtype: int64

In [240]:
s = pd.Series([4,3.5,3.8,3,3.7])
s

0    4.0
1    3.5
2    3.8
3    3.0
4    3.7
dtype: float64

In [241]:
s = pd.Series([90, 80, 95], index=['A', 'B', 'C'])
s

A    90
B    80
C    95
dtype: int64

In [247]:
df = np.arange(12).reshape(4,3)
df

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

## 데이터프레임 만들기

In [246]:
df = pd.DataFrame(arr)
print(df)

   0  1  2  3  4  5
0  1  2  3  4  5  6

In [245]:
df

   0  1  2  3  4  5
0  1  2  3  4  5  6

In [249]:
df = pd.DataFrame({
    'name' : ['aaa', 'bbb', 'ccc'],
    'score' : [90 ,80, 95],
    'dept' : ['com', 'eng', 'math']
})
df

  name  score  dept
0  aaa     90   com
1  bbb     80   eng
2  ccc     95  math

## CSV파일 불러오기

In [404]:
import os

os.getcwd()

'/Users/ddinghwan/Desktop/학교/22-2/randpython/8weeks'

In [423]:
df = pd.read_csv('./data/weather1.csv')
df
#구분자가 다를때는 sep option, header option등을 변경한다.

            date  temp  max_wind  mean_wind
0     2010-08-01  28.7       8.3        3.4
1     2010-08-02  25.2       8.7        3.8
2     2010-08-03  22.1       6.3        2.9
3     2010-08-04  25.3       6.6        4.2
4     2010-08-05  27.2       9.1        5.6
...          ...   ...       ...        ...
3648  2020-07-27  22.1       4.2        1.7
3649  2020-07-28  21.9       4.5        1.6
3650  2020-07-29  21.6       3.2        1.0
3651  2020-07-30  22.9       9.7        2.4
3652  2020-07-31  25.7       4.8        2.5

[3653 rows x 4 columns]

In [406]:
type(df['date'][0])

str

In [407]:
type(df['temp'][0])

numpy.float64

## 데이터 화긴

In [272]:
df.shape

(3653, 4)

In [269]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3653 entries, 0 to 3652
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       3653 non-null   object
 1   temp       3653 non-null   float64
 2   max_wind   3649 non-null   float64
 3   mean_wind  3647 non-null   float64
dtypes: float64(3), object(1)
memory usage: 114.3+ KB

In [275]:
df.head()

         date  temp  max_wind  mean_wind
0  2010-08-01  28.7       8.3        3.4
1  2010-08-02  25.2       8.7        3.8
2  2010-08-03  22.1       6.3        2.9
3  2010-08-04  25.3       6.6        4.2
4  2010-08-05  27.2       9.1        5.6

In [276]:
df.head(10)

         date  temp  max_wind  mean_wind
0  2010-08-01  28.7       8.3        3.4
1  2010-08-02  25.2       8.7        3.8
2  2010-08-03  22.1       6.3        2.9
3  2010-08-04  25.3       6.6        4.2
4  2010-08-05  27.2       9.1        5.6
5  2010-08-06  26.8       9.8        8.0
6  2010-08-07  27.5       9.1        5.0
7  2010-08-08  26.6       5.9        4.0
8  2010-08-09  26.9       5.1        3.1
9  2010-08-10  25.6      10.2        5.5

In [274]:
df.tail()

            date  temp  max_wind  mean_wind
3648  2020-07-27  22.1       4.2        1.7
3649  2020-07-28  21.9       4.5        1.6
3650  2020-07-29  21.6       3.2        1.0
3651  2020-07-30  22.9       9.7        2.4
3652  2020-07-31  25.7       4.8        2.5

In [277]:
df.tail(10)

            date  temp  max_wind  mean_wind
3643  2020-07-22  22.2       4.3        1.9
3644  2020-07-23  21.5       4.9        2.3
3645  2020-07-24  20.4       7.2        2.8
3646  2020-07-25  20.7       3.8        1.1
3647  2020-07-26  21.4       4.8        2.8
3648  2020-07-27  22.1       4.2        1.7
3649  2020-07-28  21.9       4.5        1.6
3650  2020-07-29  21.6       3.2        1.0
3651  2020-07-30  22.9       9.7        2.4
3652  2020-07-31  25.7       4.8        2.5

In [289]:
print(df.index) #인덱스확인
print(df.columns) #칼럼확인

RangeIndex(start=0, stop=3653, step=1)
Index(['date', 'temp', 'max_wind', 'mean_wind'], dtype='object')

In [291]:
#칼럼의 평균 구하기
df['temp'].mean()

12.942102381604148

In [295]:
# 크기순 정렬
df.sort_values(by='date')

            date  temp  max_wind  mean_wind
0     2010-08-01  28.7       8.3        3.4
1     2010-08-02  25.2       8.7        3.8
2     2010-08-03  22.1       6.3        2.9
3     2010-08-04  25.3       6.6        4.2
4     2010-08-05  27.2       9.1        5.6
...          ...   ...       ...        ...
3648  2020-07-27  22.1       4.2        1.7
3649  2020-07-28  21.9       4.5        1.6
3650  2020-07-29  21.6       3.2        1.0
3651  2020-07-30  22.9       9.7        2.4
3652  2020-07-31  25.7       4.8        2.5

[3653 rows x 4 columns]

In [298]:
#정렬 시 내림차순 정렬
df.sort_values(by='date', ascending=False)

            date  temp  max_wind  mean_wind
3652  2020-07-31  25.7       4.8        2.5
3651  2020-07-30  22.9       9.7        2.4
3650  2020-07-29  21.6       3.2        1.0
3649  2020-07-28  21.9       4.5        1.6
3648  2020-07-27  22.1       4.2        1.7
...          ...   ...       ...        ...
4     2010-08-05  27.2       9.1        5.6
3     2010-08-04  25.3       6.6        4.2
2     2010-08-03  22.1       6.3        2.9
1     2010-08-02  25.2       8.7        3.8
0     2010-08-01  28.7       8.3        3.4

[3653 rows x 4 columns]

In [299]:
df

            date  temp  max_wind  mean_wind
0     2010-08-01  28.7       8.3        3.4
1     2010-08-02  25.2       8.7        3.8
2     2010-08-03  22.1       6.3        2.9
3     2010-08-04  25.3       6.6        4.2
4     2010-08-05  27.2       9.1        5.6
...          ...   ...       ...        ...
3648  2020-07-27  22.1       4.2        1.7
3649  2020-07-28  21.9       4.5        1.6
3650  2020-07-29  21.6       3.2        1.0
3651  2020-07-30  22.9       9.7        2.4
3652  2020-07-31  25.7       4.8        2.5

[3653 rows x 4 columns]

In [300]:
df_new = df.sort_values(by='max_wind', ascending=False) #변수에 할당
df_org = df.copy() #복사하는 메서드
df.sort_values(by='max_wind', ascending=False, inplace=True) #정렬 결과 원본에 저장해 반영하기

In [301]:
df

            date  temp  max_wind  mean_wind
2988  2018-10-06  19.4      26.0        7.0
3340  2019-09-23  15.0      25.8       11.0
1850  2015-08-25  20.1      25.3       14.9
3339  2019-09-22  15.7      23.1       11.9
1851  2015-08-26  17.4      22.6        8.1
...          ...   ...       ...        ...
1514  2014-09-23  20.7       2.0        1.0
559   2012-02-11  -0.7       NaN        NaN
560   2012-02-12   0.4       NaN        NaN
561   2012-02-13   4.0       NaN        NaN
3183  2019-04-19   7.8       NaN        2.3

[3653 rows x 4 columns]

In [302]:
#고유값 확인
df.value_counts()

date        temp  max_wind  mean_wind
2010-08-01  28.7  8.3       3.4          1
2017-04-20  12.7  3.7       1.8          1
2017-03-25  5.7   5.1       2.3          1
2017-03-26  6.8   4.1       1.9          1
2017-03-27  5.3   4.6       1.5          1
                                        ..
2013-12-05  9.3   6.3       2.9          1
2013-12-06  4.9   6.4       3.5          1
2013-12-07  5.2   5.6       2.9          1
2013-12-08  5.7   4.1       1.9          1
2020-07-31  25.7  4.8       2.5          1
Length: 3646, dtype: int64

In [303]:
bank = pd.read_csv('./data/bank.csv')
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [306]:
#중복제거한 빈도분석
bank['job'].value_counts(ascending=True)

unknown            70
housemaid         274
entrepreneur      328
unemployed        357
student           360
self-employed     405
retired           778
services          923
admin.           1334
technician       1823
blue-collar      1944
management       2566
Name: job, dtype: int64

In [307]:
#열의 고유값 확인
bank['job'].unique()

array(['admin.', 'technician', 'services', 'management', 'retired',
       'blue-collar', 'unemployed', 'entrepreneur', 'housemaid',
       'unknown', 'self-employed', 'student'], dtype=object)

## 판다스 데이터 선택

열선택, 행선택 레이블선택, 위치선택, 불인덱싱

In [309]:
type(df['temp'])

pandas.core.series.Series

In [312]:
print(df.temp)
print(df['temp'])

2988    19.4
3340    15.0
1850    20.1
3339    15.7
1851    17.4
        ...
1514    20.7
559     -0.7
560      0.4
561      4.0
3183     7.8
Name: temp, Length: 3653, dtype: float64
2988    19.4
3340    15.0
1850    20.1
3339    15.7
1851    17.4
        ...
1514    20.7
559     -0.7
560      0.4
561      4.0
3183     7.8
Name: temp, Length: 3653, dtype: float64

In [314]:
df[['date', 'temp']]

            date  temp
2988  2018-10-06  19.4
3340  2019-09-23  15.0
1850  2015-08-25  20.1
3339  2019-09-22  15.7
1851  2015-08-26  17.4
...          ...   ...
1514  2014-09-23  20.7
559   2012-02-11  -0.7
560   2012-02-12   0.4
561   2012-02-13   4.0
3183  2019-04-19   7.8

[3653 rows x 2 columns]

In [316]:
#몇 행, 열정보
df.loc[:, ['date', 'temp']]

            date  temp
2988  2018-10-06  19.4
3340  2019-09-23  15.0
1850  2015-08-25  20.1
3339  2019-09-22  15.7
1851  2015-08-26  17.4
...          ...   ...
1514  2014-09-23  20.7
559   2012-02-11  -0.7
560   2012-02-12   0.4
561   2012-02-13   4.0
3183  2019-04-19   7.8

[3653 rows x 2 columns]

In [317]:
df.iloc[:, [0, 1]]

            date  temp
2988  2018-10-06  19.4
3340  2019-09-23  15.0
1850  2015-08-25  20.1
3339  2019-09-22  15.7
1851  2015-08-26  17.4
...          ...   ...
1514  2014-09-23  20.7
559   2012-02-11  -0.7
560   2012-02-12   0.4
561   2012-02-13   4.0
3183  2019-04-19   7.8

[3653 rows x 2 columns]

In [322]:
df[:3]

         date  temp  max_wind  mean_wind
0  2010-08-01  28.7       8.3        3.4
1  2010-08-02  25.2       8.7        3.8
2  2010-08-03  22.1       6.3        2.9

In [321]:
df = df_org.copy()

In [323]:
df.index = df['date']

In [324]:
df

                  date  temp  max_wind  mean_wind
date
2010-08-01  2010-08-01  28.7       8.3        3.4
2010-08-02  2010-08-02  25.2       8.7        3.8
2010-08-03  2010-08-03  22.1       6.3        2.9
2010-08-04  2010-08-04  25.3       6.6        4.2
2010-08-05  2010-08-05  27.2       9.1        5.6
...                ...   ...       ...        ...
2020-07-27  2020-07-27  22.1       4.2        1.7
2020-07-28  2020-07-28  21.9       4.5        1.6
2020-07-29  2020-07-29  21.6       3.2        1.0
2020-07-30  2020-07-30  22.9       9.7        2.4
2020-07-31  2020-07-31  25.7       4.8        2.5

[3653 rows x 4 columns]

In [327]:
df.loc['2010-08-01', ['temp', 'mean_wind']]
#Series형태로 가져오기

temp         28.7
mean_wind     3.4
Name: 2010-08-01, dtype: object

In [329]:
df.iloc[3]

date         2010-08-04
temp               25.3
max_wind            6.6
mean_wind           4.2
Name: 2010-08-04, dtype: object

In [330]:
df.iloc[1:3, 0:2]

                  date  temp
date
2010-08-02  2010-08-02  25.2
2010-08-03  2010-08-03  22.1

### 불인덱싱

In [332]:
df['temp'] >= 30

date
2010-08-01    False
2010-08-02    False
2010-08-03    False
2010-08-04    False
2010-08-05    False
              ...
2020-07-27    False
2020-07-28    False
2020-07-29    False
2020-07-30    False
2020-07-31    False
Name: temp, Length: 3653, dtype: bool

In [334]:
df[df['temp'] >= 30] #해당 하는 값들만 가져올 수 있음

                  date  temp  max_wind  mean_wind
date
2013-08-08  2013-08-08  31.3       7.8        4.6
2013-08-09  2013-08-09  30.6       9.9        6.4
2013-08-10  2013-08-10  30.6       7.4        3.8
2018-07-23  2018-07-23  30.5       6.5        1.6
2018-08-04  2018-08-04  30.3       5.8        3.0

In [335]:
df['temp'].max()

31.3

In [336]:
df['temp'] == df['temp'].max()

date
2010-08-01    False
2010-08-02    False
2010-08-03    False
2010-08-04    False
2010-08-05    False
              ...
2020-07-27    False
2020-07-28    False
2020-07-29    False
2020-07-30    False
2020-07-31    False
Name: temp, Length: 3653, dtype: bool

In [337]:
df[df['temp'] == df['temp'].max()]

                  date  temp  max_wind  mean_wind
date
2013-08-08  2013-08-08  31.3       7.8        4.6

In [341]:
df[(df['temp'] >= 30) & (df['max_wind'] >= 9)]

                  date  temp  max_wind  mean_wind
date
2013-08-09  2013-08-09  30.6       9.9        6.4

## 결측데이터 처리

### 결측데이터 확인

In [350]:
df['max_wind'].isna()

date
2010-08-01    False
2010-08-02    False
2010-08-03    False
2010-08-04    False
2010-08-05    False
              ...
2020-07-27    False
2020-07-28    False
2020-07-29    False
2020-07-30    False
2020-07-31    False
Name: max_wind, Length: 3653, dtype: bool

In [351]:
df[df['max_wind'].isna()]

                  date  temp  max_wind  mean_wind
date
2012-02-11  2012-02-11  -0.7       NaN        NaN
2012-02-12  2012-02-12   0.4       NaN        NaN
2012-02-13  2012-02-13   4.0       NaN        NaN
2019-04-19  2019-04-19   7.8       NaN        2.3

In [352]:
df.isnull()

             date   temp  max_wind  mean_wind
date
2010-08-01  False  False     False      False
2010-08-02  False  False     False      False
2010-08-03  False  False     False      False
2010-08-04  False  False     False      False
2010-08-05  False  False     False      False
...           ...    ...       ...        ...
2020-07-27  False  False     False      False
2020-07-28  False  False     False      False
2020-07-29  False  False     False      False
2020-07-30  False  False     False      False
2020-07-31  False  False     False      False

[3653 rows x 4 columns]

In [353]:
df.isnull().sum()

date         0
temp         0
max_wind     4
mean_wind    6
dtype: int64

In [354]:
df.notnull()

            date  temp  max_wind  mean_wind
date
2010-08-01  True  True      True       True
2010-08-02  True  True      True       True
2010-08-03  True  True      True       True
2010-08-04  True  True      True       True
2010-08-05  True  True      True       True
...          ...   ...       ...        ...
2020-07-27  True  True      True       True
2020-07-28  True  True      True       True
2020-07-29  True  True      True       True
2020-07-30  True  True      True       True
2020-07-31  True  True      True       True

[3653 rows x 4 columns]

In [355]:
df.notnull().sum()

date         3653
temp         3653
max_wind     3649
mean_wind    3647
dtype: int64

In [356]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3653 entries, 2010-08-01 to 2020-07-31
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       3653 non-null   object
 1   temp       3653 non-null   float64
 2   max_wind   3649 non-null   float64
 3   mean_wind  3647 non-null   float64
dtypes: float64(3), object(1)
memory usage: 271.7+ KB

In [367]:
df2 = df.dropna()
df2

                  date  temp  max_wind  mean_wind
date
2010-08-01  2010-08-01  28.7       8.3        3.4
2010-08-02  2010-08-02  25.2       8.7        3.8
2010-08-03  2010-08-03  22.1       6.3        2.9
2010-08-04  2010-08-04  25.3       6.6        4.2
2010-08-05  2010-08-05  27.2       9.1        5.6
...                ...   ...       ...        ...
2020-07-27  2020-07-27  22.1       4.2        1.7
2020-07-28  2020-07-28  21.9       4.5        1.6
2020-07-29  2020-07-29  21.6       3.2        1.0
2020-07-30  2020-07-30  22.9       9.7        2.4
2020-07-31  2020-07-31  25.7       4.8        2.5

[3646 rows x 4 columns]

In [369]:
df.isnull().sum()

date         0
temp         0
max_wind     4
mean_wind    6
dtype: int64

In [361]:
df2.isnull().sum()

date         0
temp         0
max_wind     0
mean_wind    0
dtype: int64

In [365]:
#특정 행 제거
df3 = df.dropna(axis=0) #누락값 있는 모든 행 제거
df3

                  date  temp  max_wind  mean_wind
date
2010-08-01  2010-08-01  28.7       8.3        3.4
2010-08-02  2010-08-02  25.2       8.7        3.8
2010-08-03  2010-08-03  22.1       6.3        2.9
2010-08-04  2010-08-04  25.3       6.6        4.2
2010-08-05  2010-08-05  27.2       9.1        5.6
...                ...   ...       ...        ...
2020-07-27  2020-07-27  22.1       4.2        1.7
2020-07-28  2020-07-28  21.9       4.5        1.6
2020-07-29  2020-07-29  21.6       3.2        1.0
2020-07-30  2020-07-30  22.9       9.7        2.4
2020-07-31  2020-07-31  25.7       4.8        2.5

[3646 rows x 4 columns]

In [364]:
df3.isnull().sum()

date         0
temp         0
max_wind     0
mean_wind    0
dtype: int64

In [366]:
df4 = df.dropna(axis=1) #결측치가 있는 칼럼을 제거한다.
df4

                  date  temp
date
2010-08-01  2010-08-01  28.7
2010-08-02  2010-08-02  25.2
2010-08-03  2010-08-03  22.1
2010-08-04  2010-08-04  25.3
2010-08-05  2010-08-05  27.2
...                ...   ...
2020-07-27  2020-07-27  22.1
2020-07-28  2020-07-28  21.9
2020-07-29  2020-07-29  21.6
2020-07-30  2020-07-30  22.9
2020-07-31  2020-07-31  25.7

[3653 rows x 2 columns]

In [370]:
df5 = df.dropna(how='any')#결측치 1개라도 있으면 삭제 all:모든 값이 결측치인 경우에만
df5

                  date  temp  max_wind  mean_wind
date
2010-08-01  2010-08-01  28.7       8.3        3.4
2010-08-02  2010-08-02  25.2       8.7        3.8
2010-08-03  2010-08-03  22.1       6.3        2.9
2010-08-04  2010-08-04  25.3       6.6        4.2
2010-08-05  2010-08-05  27.2       9.1        5.6
...                ...   ...       ...        ...
2020-07-27  2020-07-27  22.1       4.2        1.7
2020-07-28  2020-07-28  21.9       4.5        1.6
2020-07-29  2020-07-29  21.6       3.2        1.0
2020-07-30  2020-07-30  22.9       9.7        2.4
2020-07-31  2020-07-31  25.7       4.8        2.5

[3646 rows x 4 columns]

In [372]:
df5.isnull().sum()

date         0
temp         0
max_wind     0
mean_wind    0
dtype: int64

In [373]:
df.isnull().sum()

date         0
temp         0
max_wind     4
mean_wind    6
dtype: int64

In [374]:
df5 = df.dropna(how='all')
df5

                  date  temp  max_wind  mean_wind
date
2010-08-01  2010-08-01  28.7       8.3        3.4
2010-08-02  2010-08-02  25.2       8.7        3.8
2010-08-03  2010-08-03  22.1       6.3        2.9
2010-08-04  2010-08-04  25.3       6.6        4.2
2010-08-05  2010-08-05  27.2       9.1        5.6
...                ...   ...       ...        ...
2020-07-27  2020-07-27  22.1       4.2        1.7
2020-07-28  2020-07-28  21.9       4.5        1.6
2020-07-29  2020-07-29  21.6       3.2        1.0
2020-07-30  2020-07-30  22.9       9.7        2.4
2020-07-31  2020-07-31  25.7       4.8        2.5

[3653 rows x 4 columns]

In [376]:
df5.isnull().sum()

date         0
temp         0
max_wind     4
mean_wind    6
dtype: int64

In [378]:
#inplace속성을 통해 원본에 바로 수정할 수 있음.
df.dropna(inplace=True)
df

                  date  temp  max_wind  mean_wind
date
2010-08-01  2010-08-01  28.7       8.3        3.4
2010-08-02  2010-08-02  25.2       8.7        3.8
2010-08-03  2010-08-03  22.1       6.3        2.9
2010-08-04  2010-08-04  25.3       6.6        4.2
2010-08-05  2010-08-05  27.2       9.1        5.6
...                ...   ...       ...        ...
2020-07-27  2020-07-27  22.1       4.2        1.7
2020-07-28  2020-07-28  21.9       4.5        1.6
2020-07-29  2020-07-29  21.6       3.2        1.0
2020-07-30  2020-07-30  22.9       9.7        2.4
2020-07-31  2020-07-31  25.7       4.8        2.5

[3646 rows x 4 columns]

### 결측치 대체

In [382]:
df.fillna(0)

                  date  temp  max_wind  mean_wind
date
2010-08-01  2010-08-01  28.7       8.3        3.4
2010-08-02  2010-08-02  25.2       8.7        3.8
2010-08-03  2010-08-03  22.1       6.3        2.9
2010-08-04  2010-08-04  25.3       6.6        4.2
2010-08-05  2010-08-05  27.2       9.1        5.6
...                ...   ...       ...        ...
2020-07-27  2020-07-27  22.1       4.2        1.7
2020-07-28  2020-07-28  21.9       4.5        1.6
2020-07-29  2020-07-29  21.6       3.2        1.0
2020-07-30  2020-07-30  22.9       9.7        2.4
2020-07-31  2020-07-31  25.7       4.8        2.5

[3646 rows x 4 columns]

In [383]:
df.fillna(0).isnull().sum()

date         0
temp         0
max_wind     0
mean_wind    0
dtype: int64

In [385]:
df.isnull().sum()

date         0
temp         0
max_wind     0
mean_wind    0
dtype: int64

In [386]:
df_new = df.copy()

In [388]:
df_new.fillna(0, inplace=True)
df_new.isnull().sum()

date         0
temp         0
max_wind     0
mean_wind    0
dtype: int64

## 가공하기

In [390]:
dust = pd.read_excel('./data/dust1.xlsx')
dust

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 송파구,도시대기,111273,송파구,2021040101,0.004,1.0,0.002,0.066,50.0,18.0,서울 송파구 백제고분로 236
1,서울 송파구,도시대기,111273,송파구,2021040102,0.004,0.8,0.002,0.058,48.0,20.0,서울 송파구 백제고분로 236
2,서울 송파구,도시대기,111273,송파구,2021040103,0.004,0.8,0.002,0.055,44.0,20.0,서울 송파구 백제고분로 236
3,서울 송파구,도시대기,111273,송파구,2021040104,0.003,0.8,0.002,0.055,40.0,20.0,서울 송파구 백제고분로 236
4,서울 송파구,도시대기,111273,송파구,2021040105,0.004,0.8,0.002,0.053,38.0,17.0,서울 송파구 백제고분로 236
...,...,...,...,...,...,...,...,...,...,...,...,...
715,서울 송파구,도시대기,111273,송파구,2021043020,0.002,0.5,0.039,0.020,69.0,33.0,서울 송파구 백제고분로 236
716,서울 송파구,도시대기,111273,송파구,2021043021,0.002,0.5,0.039,0.019,76.0,34.0,서울 송파구 백제고분로 236
717,서울 송파구,도시대기,111273,송파구,2021043022,0.002,0.5,0.037,0.018,71.0,31.0,서울 송파구 백제고분로 236
718,서울 송파구,도시대기,111273,송파구,2021043023,0.002,0.5,0.040,0.016,46.0,22.0,서울 송파구 백제고분로 236
719,서울 송파구,도시대기,111273,송파구,2021043024,0.002,0.4,0.039,0.016,34.0,18.0,서울 송파구 백제고분로 236

### 칼럼 변수 삭제/생성

In [402]:
type(dust['지역'][0])
type(dust['측정소코드'][3])

numpy.int64

In [424]:
dust.drop(['지역', '망', '측정소코드'], axis=1) #axis=1 ->열방향(칼럼)삭제,

    측정소명        측정일시    SO2   CO     O3    NO2  PM10  PM25                주소
0    송파구  2021040101  0.004  1.0  0.002  0.066  50.0  18.0  서울 송파구 백제고분로 236
1    송파구  2021040102  0.004  0.8  0.002  0.058  48.0  20.0  서울 송파구 백제고분로 236
2    송파구  2021040103  0.004  0.8  0.002  0.055  44.0  20.0  서울 송파구 백제고분로 236
3    송파구  2021040104  0.003  0.8  0.002  0.055  40.0  20.0  서울 송파구 백제고분로 236
4    송파구  2021040105  0.004  0.8  0.002  0.053  38.0  17.0  서울 송파구 백제고분로 236
..   ...         ...    ...  ...    ...    ...   ...   ...               ...
715  송파구  2021043020  0.002  0.5  0.039  0.020  69.0  33.0  서울 송파구 백제고분로 236
716  송파구  2021043021  0.002  0.5  0.039  0.019  76.0  34.0  서울 송파구 백제고분로 236
717  송파구  2021043022  0.002  0.5  0.037  0.018  71.0  31.0  서울 송파구 백제고분로 236
718  송파구  2021043023  0.002  0.5  0.040  0.016  46.0  22.0  서울 송파구 백제고분로 236
719  송파구  2021043024  0.002  0.4  0.039  0.016  34.0  18.0  서울 송파구 백제고분로 236

[720 rows x 9 columns]

In [429]:
dust

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,city
0,서울 송파구,도시대기,111273,송파구,2021040101,0.004,1.0,0.002,0.066,50.0,18.0,서울 송파구 백제고분로 236,서울
1,서울 송파구,도시대기,111273,송파구,2021040102,0.004,0.8,0.002,0.058,48.0,20.0,서울 송파구 백제고분로 236,서울
2,서울 송파구,도시대기,111273,송파구,2021040103,0.004,0.8,0.002,0.055,44.0,20.0,서울 송파구 백제고분로 236,서울
3,서울 송파구,도시대기,111273,송파구,2021040104,0.003,0.8,0.002,0.055,40.0,20.0,서울 송파구 백제고분로 236,서울
4,서울 송파구,도시대기,111273,송파구,2021040105,0.004,0.8,0.002,0.053,38.0,17.0,서울 송파구 백제고분로 236,서울
...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,서울 송파구,도시대기,111273,송파구,2021043020,0.002,0.5,0.039,0.020,69.0,33.0,서울 송파구 백제고분로 236,서울
716,서울 송파구,도시대기,111273,송파구,2021043021,0.002,0.5,0.039,0.019,76.0,34.0,서울 송파구 백제고분로 236,서울
717,서울 송파구,도시대기,111273,송파구,2021043022,0.002,0.5,0.037,0.018,71.0,31.0,서울 송파구 백제고분로 236,서울
718,서울 송파구,도시대기,111273,송파구,2021043023,0.002,0.5,0.040,0.016,46.0,22.0,서울 송파구 백제고분로 236,서울
719,서울 송파구,도시대기,111273,송파구,2021043024,0.002,0.4,0.039,0.016,34.0,18.0,서울 송파구 백제고분로 236,서울

### 칼럼생성

In [431]:
dust['city'] = '서울'
dust

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,city
0,서울 송파구,도시대기,111273,송파구,2021040101,0.004,1.0,0.002,0.066,50.0,18.0,서울 송파구 백제고분로 236,서울
1,서울 송파구,도시대기,111273,송파구,2021040102,0.004,0.8,0.002,0.058,48.0,20.0,서울 송파구 백제고분로 236,서울
2,서울 송파구,도시대기,111273,송파구,2021040103,0.004,0.8,0.002,0.055,44.0,20.0,서울 송파구 백제고분로 236,서울
3,서울 송파구,도시대기,111273,송파구,2021040104,0.003,0.8,0.002,0.055,40.0,20.0,서울 송파구 백제고분로 236,서울
4,서울 송파구,도시대기,111273,송파구,2021040105,0.004,0.8,0.002,0.053,38.0,17.0,서울 송파구 백제고분로 236,서울
...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,서울 송파구,도시대기,111273,송파구,2021043020,0.002,0.5,0.039,0.020,69.0,33.0,서울 송파구 백제고분로 236,서울
716,서울 송파구,도시대기,111273,송파구,2021043021,0.002,0.5,0.039,0.019,76.0,34.0,서울 송파구 백제고분로 236,서울
717,서울 송파구,도시대기,111273,송파구,2021043022,0.002,0.5,0.037,0.018,71.0,31.0,서울 송파구 백제고분로 236,서울
718,서울 송파구,도시대기,111273,송파구,2021043023,0.002,0.5,0.040,0.016,46.0,22.0,서울 송파구 백제고분로 236,서울
719,서울 송파구,도시대기,111273,송파구,2021043024,0.002,0.4,0.039,0.016,34.0,18.0,서울 송파구 백제고분로 236,서울

### 칼럼 이름 변경

In [433]:
dust.rename(columns={'측정소명' : 'name',
                  '측정일시' : 'date',
                  '주소' : 'addr'}, inplace=True)
dust

,지역,망,측정소코드,name,date,SO2,CO,O3,NO2,PM10,PM25,addr,city
0,서울 송파구,도시대기,111273,송파구,2021040101,0.004,1.0,0.002,0.066,50.0,18.0,서울 송파구 백제고분로 236,서울
1,서울 송파구,도시대기,111273,송파구,2021040102,0.004,0.8,0.002,0.058,48.0,20.0,서울 송파구 백제고분로 236,서울
2,서울 송파구,도시대기,111273,송파구,2021040103,0.004,0.8,0.002,0.055,44.0,20.0,서울 송파구 백제고분로 236,서울
3,서울 송파구,도시대기,111273,송파구,2021040104,0.003,0.8,0.002,0.055,40.0,20.0,서울 송파구 백제고분로 236,서울
4,서울 송파구,도시대기,111273,송파구,2021040105,0.004,0.8,0.002,0.053,38.0,17.0,서울 송파구 백제고분로 236,서울
...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,서울 송파구,도시대기,111273,송파구,2021043020,0.002,0.5,0.039,0.020,69.0,33.0,서울 송파구 백제고분로 236,서울
716,서울 송파구,도시대기,111273,송파구,2021043021,0.002,0.5,0.039,0.019,76.0,34.0,서울 송파구 백제고분로 236,서울
717,서울 송파구,도시대기,111273,송파구,2021043022,0.002,0.5,0.037,0.018,71.0,31.0,서울 송파구 백제고분로 236,서울
718,서울 송파구,도시대기,111273,송파구,2021043023,0.002,0.5,0.040,0.016,46.0,22.0,서울 송파구 백제고분로 236,서울
719,서울 송파구,도시대기,111273,송파구,2021043024,0.002,0.4,0.039,0.016,34.0,18.0,서울 송파구 백제고분로 236,서울

### 데이터형변환

In [437]:
dust.dtypes #df타입확인

지역        object
망         object
측정소코드      int64
name      object
date       int64
SO2      float64
CO       float64
O3       float64
NO2      float64
PM10     float64
PM25     float64
addr      object
city      object
dtype: object

In [442]:
#date를 str로 바꾸기
dust['date'] = dust['date'].astype(str)
dust.dtypes

지역        object
망         object
측정소코드      int64
name      object
date      object
SO2      float64
CO       float64
O3       float64
NO2      float64
PM10     float64
PM25     float64
addr      object
city      object
dtype: object

In [443]:
#값을 삭제하기
dust['date'] = dust['date'].str.slice(0, 8) #date에서 날짜만 남게 슬라이싱
dust

,지역,망,측정소코드,name,date,SO2,CO,O3,NO2,PM10,PM25,addr,city
0,서울 송파구,도시대기,111273,송파구,20210401,0.004,1.0,0.002,0.066,50.0,18.0,서울 송파구 백제고분로 236,서울
1,서울 송파구,도시대기,111273,송파구,20210401,0.004,0.8,0.002,0.058,48.0,20.0,서울 송파구 백제고분로 236,서울
2,서울 송파구,도시대기,111273,송파구,20210401,0.004,0.8,0.002,0.055,44.0,20.0,서울 송파구 백제고분로 236,서울
3,서울 송파구,도시대기,111273,송파구,20210401,0.003,0.8,0.002,0.055,40.0,20.0,서울 송파구 백제고분로 236,서울
4,서울 송파구,도시대기,111273,송파구,20210401,0.004,0.8,0.002,0.053,38.0,17.0,서울 송파구 백제고분로 236,서울
...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,서울 송파구,도시대기,111273,송파구,20210430,0.002,0.5,0.039,0.020,69.0,33.0,서울 송파구 백제고분로 236,서울
716,서울 송파구,도시대기,111273,송파구,20210430,0.002,0.5,0.039,0.019,76.0,34.0,서울 송파구 백제고분로 236,서울
717,서울 송파구,도시대기,111273,송파구,20210430,0.002,0.5,0.037,0.018,71.0,31.0,서울 송파구 백제고분로 236,서울
718,서울 송파구,도시대기,111273,송파구,20210430,0.002,0.5,0.040,0.016,46.0,22.0,서울 송파구 백제고분로 236,서울
719,서울 송파구,도시대기,111273,송파구,20210430,0.002,0.4,0.039,0.016,34.0,18.0,서울 송파구 백제고분로 236,서울

In [446]:
dust['date'] = pd.to_datetime(dust['date']) #string에서 date type으로 다시 변환
dust

,지역,망,측정소코드,name,date,SO2,CO,O3,NO2,PM10,PM25,addr,city
0,서울 송파구,도시대기,111273,송파구,2021-04-01,0.004,1.0,0.002,0.066,50.0,18.0,서울 송파구 백제고분로 236,서울
1,서울 송파구,도시대기,111273,송파구,2021-04-01,0.004,0.8,0.002,0.058,48.0,20.0,서울 송파구 백제고분로 236,서울
2,서울 송파구,도시대기,111273,송파구,2021-04-01,0.004,0.8,0.002,0.055,44.0,20.0,서울 송파구 백제고분로 236,서울
3,서울 송파구,도시대기,111273,송파구,2021-04-01,0.003,0.8,0.002,0.055,40.0,20.0,서울 송파구 백제고분로 236,서울
4,서울 송파구,도시대기,111273,송파구,2021-04-01,0.004,0.8,0.002,0.053,38.0,17.0,서울 송파구 백제고분로 236,서울
...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,서울 송파구,도시대기,111273,송파구,2021-04-30,0.002,0.5,0.039,0.020,69.0,33.0,서울 송파구 백제고분로 236,서울
716,서울 송파구,도시대기,111273,송파구,2021-04-30,0.002,0.5,0.039,0.019,76.0,34.0,서울 송파구 백제고분로 236,서울
717,서울 송파구,도시대기,111273,송파구,2021-04-30,0.002,0.5,0.037,0.018,71.0,31.0,서울 송파구 백제고분로 236,서울
718,서울 송파구,도시대기,111273,송파구,2021-04-30,0.002,0.5,0.040,0.016,46.0,22.0,서울 송파구 백제고분로 236,서울
719,서울 송파구,도시대기,111273,송파구,2021-04-30,0.002,0.4,0.039,0.016,34.0,18.0,서울 송파구 백제고분로 236,서울

In [452]:
#연월일 칼럼추가하기
#date type.dt.year=>date type의 year정보
dust['year'] = dust['date'].dt.year
dust['month'] = dust['date'].dt.month
dust['day'] = dust['date'].dt.day

In [453]:
dust

,지역,망,측정소코드,name,date,SO2,CO,O3,NO2,PM10,PM25,addr,city,year,month,day
0,서울 송파구,도시대기,111273,송파구,2021-04-01,0.004,1.0,0.002,0.066,50.0,18.0,서울 송파구 백제고분로 236,서울,2021,4,1
1,서울 송파구,도시대기,111273,송파구,2021-04-01,0.004,0.8,0.002,0.058,48.0,20.0,서울 송파구 백제고분로 236,서울,2021,4,1
2,서울 송파구,도시대기,111273,송파구,2021-04-01,0.004,0.8,0.002,0.055,44.0,20.0,서울 송파구 백제고분로 236,서울,2021,4,1
3,서울 송파구,도시대기,111273,송파구,2021-04-01,0.003,0.8,0.002,0.055,40.0,20.0,서울 송파구 백제고분로 236,서울,2021,4,1
4,서울 송파구,도시대기,111273,송파구,2021-04-01,0.004,0.8,0.002,0.053,38.0,17.0,서울 송파구 백제고분로 236,서울,2021,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,서울 송파구,도시대기,111273,송파구,2021-04-30,0.002,0.5,0.039,0.020,69.0,33.0,서울 송파구 백제고분로 236,서울,2021,4,30
716,서울 송파구,도시대기,111273,송파구,2021-04-30,0.002,0.5,0.039,0.019,76.0,34.0,서울 송파구 백제고분로 236,서울,2021,4,30
717,서울 송파구,도시대기,111273,송파구,2021-04-30,0.002,0.5,0.037,0.018,71.0,31.0,서울 송파구 백제고분로 236,서울,2021,4,30
718,서울 송파구,도시대기,111273,송파구,2021-04-30,0.002,0.5,0.040,0.016,46.0,22.0,서울 송파구 백제고분로 236,서울,2021,4,30
719,서울 송파구,도시대기,111273,송파구,2021-04-30,0.002,0.4,0.039,0.016,34.0,18.0,서울 송파구 백제고분로 236,서울,2021,4,30

## 데이터 병합

In [455]:
s1 = pd.read_excel('./data/nation.xlsx')
s2 = pd.read_excel('./data/code.xlsx')

In [456]:
s1

  국적코드 성별    입국객수    증가수
0  A01  남  125000   8000
1  A01  여  130000  10000
2  A05  남     300     10
3  A05  여     200     50
4  A06  남  158912  24486
5  A06  여  325000  63466

In [457]:

s2

  국적코드  국적명
0  A01  필리핀
1  A02   일본
2  A03   미국
3  A04   중국
4  A05   호주
5  A06  베트남
6  A07  스위스
7  A99   기타

In [459]:
pd.merge(s1, s2, on='국적코드')

  국적코드 성별    입국객수    증가수  국적명
0  A01  남  125000   8000  필리핀
1  A01  여  130000  10000  필리핀
2  A05  남     300     10   호주
3  A05  여     200     50   호주
4  A06  남  158912  24486  베트남
5  A06  여  325000  63466  베트남

In [460]:
pd.merge(s1, s2, on='국적코드', how='left')

  국적코드 성별    입국객수    증가수  국적명
0  A01  남  125000   8000  필리핀
1  A01  여  130000  10000  필리핀
2  A05  남     300     10   호주
3  A05  여     200     50   호주
4  A06  남  158912  24486  베트남
5  A06  여  325000  63466  베트남

In [461]:
pd.merge(s1, s2, on='국적코드', how='right')

   국적코드   성별      입국객수      증가수  국적명
0   A01    남  125000.0   8000.0  필리핀
1   A01    여  130000.0  10000.0  필리핀
2   A02  NaN       NaN      NaN   일본
3   A03  NaN       NaN      NaN   미국
4   A04  NaN       NaN      NaN   중국
5   A05    남     300.0     10.0   호주
6   A05    여     200.0     50.0   호주
7   A06    남  158912.0  24486.0  베트남
8   A06    여  325000.0  63466.0  베트남
9   A07  NaN       NaN      NaN  스위스
10  A99  NaN       NaN      NaN   기타

In [462]:
pd.merge(s1, s2, on='국적코드', how='outer')

   국적코드   성별      입국객수      증가수  국적명
0   A01    남  125000.0   8000.0  필리핀
1   A01    여  130000.0  10000.0  필리핀
2   A05    남     300.0     10.0   호주
3   A05    여     200.0     50.0   호주
4   A06    남  158912.0  24486.0  베트남
5   A06    여  325000.0  63466.0  베트남
6   A02  NaN       NaN      NaN   일본
7   A03  NaN       NaN      NaN   미국
8   A04  NaN       NaN      NaN   중국
9   A07  NaN       NaN      NaN  스위스
10  A99  NaN       NaN      NaN   기타

## 데이터 그루핑

In [463]:
#한 칼럼 기준 그룹화
s1.groupby('국적코드').sum()

        입국객수    증가수
국적코드
A01   255000  18000
A05      500     60
A06   483912  87952

In [465]:
s1.groupby(['국적코드', '성별']).sum()

           입국객수    증가수
국적코드 성별
A01  남   125000   8000
     여   130000  10000
A05  남      300     10
     여      200     50
A06  남   158912  24486
     여   325000  63466

In [467]:
iris = pd.read_csv("./data/Iris.csv")

FileNotFoundError: [Errno 2] No such file or directory: './data/Iris.csv'